.item {
  position: absolute;
  height: 100%;
  width: 100%;
}

.text {
  font-weight: bold;
  font-size: 2rem;
  color: #fff;
  user-select: none;
}

.front {
  @include abs-center;

  &.back {
    width: 100%;
    height: 100%;
  }

  &.multiplier {
    height: 35%;
  }
}

.flipped {
  @include abs-center;

  &.back {
    width: 100%;
    height: 100%;
  }

  &.suit {
    width: 60%;
    height: 60%;
  }
}
