.symbol {
  flex: 0 0 auto;
}

@mixin scale($size) {
  height: $size;

  .symbol {
    width: calc($size / 2);
    align-self: flex-end;

    img {
      width: 100%;
      height: auto;
    }
  }

  .number {
    height: 100%;

    + .number {
      margin-left: $size * 0.1;
    }

    img {
      height: 100%;
    }
  }
}
