$dimBackground: rgba(0, 0, 0, 0.5);

.root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  width: 576px;
  height: 768px;

  overflow: hidden;

  @include shadow-border(0, 0, 0px, 1px);

  &.aligment {
    background-image: url(../../assets/background.png);
    background-repeat: no-repeat;
    background-size: contain;

    $background: rgba(255, 255, 255, 0.5);

    .sector {
      background-color: $background;
      .border {
        border-color: $background;
      }

      .top *,
      .blocker {
        display: none;
      }
    }

    .bottom {
      background-color: $background;

      * {
        display: none;
      }
    }
  }

  &.background {
    .bottom {
      background-color: $dimBackground;
    }
  }
}

.sector {
  $borderWidth: 76px;

  position: absolute;
  top: 4.1%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  border-radius: 50%;

  $size: 145%;
  width: $size;
  height: 0;
  padding-bottom: $size;

  .border {
    position: absolute;

    width: 100%;
    height: 100%;
    border-radius: 50%;

    border: $borderWidth solid rgba(0, 0, 0, 0.5);
  }

  .top {
    position: absolute;

    width: 100%;
    height: 17%;
  }

  .blocker {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);

    $size: 80%;
    width: $size;
    height: $size;
    border-radius: 50%;

    background-color: #fff;
  }
}

.bottom {
  position: absolute;
  left: 0;
  bottom: 3.5%;

  border-radius: 50%;

  width: 100%;
  height: 0;
  padding-bottom: 100%;

  overflow: hidden;
}
