$dimBackground: rgba(0, 0, 0, 0.2);

.root {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 20px;
}

.navbar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 180px;
  height: 100%;
  max-height: 768px;

  .head {
    $back: 2em;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .back {
      &:empty {
        width: $back;
        height: $back;
      }

      svg {
        width: $back;
        height: $back;
        cursor: pointer;
      }
    }

    &:after {
      content: '';
      width: $back;
    }
  }

  .title {
    text-align: center;
    font-weight: bold;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main {
  position: relative;
  width: 576px;
  height: 768px;

  overflow: hidden;

  @include shadow-border(0, 0, 0px, 1px);

  &.aligment {
    background-image: url(../../assets/background.png);
    background-repeat: no-repeat;
    background-size: contain;

    $background: rgba(255, 255, 255, 0.5);

    .sector {
      background-color: $background;
      .border {
        border-color: $background;
      }

      .top *,
      .blocker {
        display: none;
      }
    }

    .bottom {
      background-color: $background;

      * {
        display: none;
      }
    }
  }

  &.background {
    .ring {
      border-color: $dimBackground;
    }
    .bottom {
      background-color: $dimBackground;
    }
  }
}

.sector {
  $borderWidth: 76px;

  position: absolute;
  top: 4.1%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  border-radius: 50%;

  $size: 145%;
  width: $size;
  height: 0;
  padding-bottom: $size;

  .ring {
    position: absolute;

    width: 100%;
    height: 100%;
    border-radius: 50%;

    border: $borderWidth solid transparent;
  }

  .top {
    position: absolute;

    width: 100%;
    height: 17%;
  }

  .blocker {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);

    $size: 80%;
    width: $size;
    height: $size;
    border-radius: 50%;

    background-color: #fff;
  }
}

.bottom {
  position: absolute;
  left: 0;
  bottom: 3.5%;

  border-radius: 50%;

  width: 100%;
  height: 0;
  padding-bottom: 100%;

  overflow: hidden;
}
