@use '../LuckyCoinMultiplier/LuckyCoinMultiplier.scss' as *;

$shadowColor: #ffcd6f;

:export {
  shadowColor: $shadowColor;
}

.root {
  position: relative;
  border-radius: 50%;
  box-shadow: none;
  transition: 0.3s;

  &.glow {
    box-shadow: 0 0 30px $shadowColor;
  }

  > img {
    width: 100%;
  }
}

.multiplier {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10%;

  display: flex;
  align-items: center;
  justify-content: center;

  .length_1 {
    @include scale(48%);
  }

  .length_2 {
    @include scale(46%);
  }

  .length_3 {
    @include scale(37%);
  }
}
