@use '../LuckyCoinMultiplier/LuckyCoinMultiplier.scss' as *;

.root {
  position: relative;
  border-radius: 50%;
  box-shadow: none;

  &.glow {
    transition: 0.3s;
    box-shadow: 0 0 30px #ffcd6f;
  }

  > img {
    width: 100%;
  }
}

.multiplier {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10%;

  .length_1 {
    @include scale(48%);
  }

  .length_2 {
    @include scale(46%);
  }

  .length_3 {
    @include scale(37%);
  }
}
