@use '../LuckyCoinMultiplier/LuckyCoinMultiplier.scss' as *;

.root {
  @include abs-center;
  img {
    width: 100%;
  }
}

.multiplier {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10%;

  .length_1,
  .length_2 {
    @include scale(50%);
  }

  .length_3 {
    @include scale(37%);
  }
}
